$mont: 'Montserrat', sans-serif;
$w400: 400;
$w700: 700;
$white: #fff;
$blue:rgba(36, 163, 255, 1);
$red: rgba(240, 20, 90, 1);
$pink: rgba(239, 128, 128, 1);
$gray: rgba(179, 179, 186, 1);
$grey: rgba(230, 230, 240, 1);
$rem: 16px;
$rem-12: 16 * 0.75;
$rem-14: 16px * 0.875;
$rem-19: 16px * 1.185;
$rem-22: 16px * 1.375;
$rem-30: 16px * 1.875;
$rem-38: 16px * 2.375;


a.service__link:link {
    text-decoration: none;
}


a.service__link:visited {
    color: rgba(240, 20, 90, 1);
}


a.service__link:hover {
    color: red;
}


a.service__link:active {
    color: rgba(240, 20, 90, 1);
}


.services {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 12px;
    box-shadow:  0px 10px 0px -4px rgba(202, 202, 219, 1), 0px 20px 0px -8px rgba(231, 231, 242, 1);
    margin-bottom: 60px;
    font-family: $mont;


    .header {
    

        .logo__container {
            display: flex;
            justify-content: space-between;


            &__site {
                padding: 50px 160px;


                &__name {
                    font-size: $rem-38;
                    letter-spacing: 2px;
                    color: $white;
                    margin: 0;
                

                    &__line {
                        color: $red;
                    }


                    &__page {
                        font-weight: $w400;
                    }
                }
                
                
                &__name::first-letter {
                    color: $red;
                }
                

                &__duty {
                    font-size: 10px;
                    letter-spacing: 4.7px;
                    color: $white;
                    margin: 0;
                }
            } 
            
            
            &__navigation {
                position: relative;
                right: 144;
                top: 40;


                &__menu {
                    width: 530px;
                    height: 90px;
                    color: $white;
                
        
                    &__firstLine {
                        display: flex;
                        justify-content: space-between;
                        width: 478px;
                        height: 25px;
                        font-size: $rem;
                        line-height: 19.5px;
                    }
        
        
                    &__text, &__firstText {
                        list-style-type: none;
                        color: white;
                    }
        
        
                    &__address {
                        font-weight: $w400;
                    }
        
        
                    &__secondLine {
                        display: flex;
                        justify-content: flex-end;
                        width: 478px;
                        height: 25px;
                        font-size: $rem;
                        line-height: 19.5px;
                    }     
                    
                    
                    &__text {
                        margin-left: 15px;
                    }
        
        
                    .english {
                        width: 33px;
                        height: 25px;
                        padding: 5px 7px;
                        background-color: $red;
                        border-radius: 8px;
                    }
        
        
                    .ru {
                        margin: 0 7px 0 14px;
                    }
        
        
                    .facebook_img {
                        width: 16px; 
                        height: 16px;
                        transform: scale(1.5, 1.5)
                    }
        
        
                    &__icon {
                        display: none;
                        transform: translateX(-355px)
                    }  


                    &__mobile {
                        display: none;
                        font-family: $mont;
                        color: $white;
                        font-weight: $w700;


                        &__ru {
                            margin-left: 15px;
                        }


                        &__english {
                            width: 33px;
                            height: 25px;
                            padding: 5px 7px;
                            margin-left: 15px;
                            background-color: $red;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }


    .service {
        padding: 0 160px;
        font-family: $mont;
        font-weight: $w700;


        &__title {
            width: 1000px;
            height: 73px;
        

            &__link {
                margin: 0 0 10px 0;
                font-size: $rem-14;
                color: $blue;
            }


            &__link:hover {
                cursor: pointer;
                color: $red;
            }


            &__head {
                margin: 0;
                font-size: $rem-38;
                color: $red;
            }
        }


        .products {
            padding: 60px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;


            &__containers {
                width: 495px;
                height: 295px;


                &__head {
                    margin: 30px 0;
                    font-size: $rem-22;
                    color: $blue;
                }


                &__head:hover {
                    color: $red;
                }   


                &__text {
                    font-weight: $w400;
                    color: $white;
                }
            }
        }
    }
}

.trust {
    font-family: $mont;


    &__companies {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0;


        &__text {
            font-size: $rem-14;
            color: rgba(50, 50, 100, 1);
            margin-bottom: 30px;
        }    


        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; 
            
            
            &__hillel {
                border-top-left-radius: 15px;
            }   


            &__3d {
                border-top-right-radius: 15px;
            }   


            &__infra {
                border-bottom-left-radius: 15px;
            }   


            &__ult {
                border-bottom-right-radius: 15px;
            }
        }
    }


    &__publications {
        background-color: rgba(245, 245, 250, 1);
        padding: 30px 160px;
        
    
        &__footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-family: $mont;


            &__container {
                display: flex;
                flex-direction: column;


                &__contacts {
                    width: 398px;
                    height: 20px;
                    display: flex;
                    margin-bottom: 21px;


                    &__address {
                        width: 229px;
                        font-size: $rem;
                        font-weight: $w400;
                        margin: 0;
                    }
                    
                    
                    &__map {
                        margin: 2px;
                        font-size: $rem-12;
                        color: $blue;
                    } 


                    &__end {
                        display: flex;
                    }


                    &__phone {
                        margin: 12px 0;
                        font-size: $rem;
                        color: rgba(70, 70, 110, 1);
                    }


                    &__mail {
                        margin: 12px 0;
                        font-size: $rem;
                        color: $blue;
                    }
                }
            }


            &__company {
                font-size: $rem;
                font-weight: $w400;
                color: $gray;
            } 
        }
    }
}


@media (max-width: 1024px) {


    .logo__container__site {
        padding: 50px 60px !important;
    }


    .logo__container__navigation {
        transform: translateX(20%);
    }


    .service {
        padding: 0 60px !important;
    }

    
    .products {

        
        &__containers {
            width: 261px !important;
            height: 400px !important;
        }
    }   


    .trust__companies__container {
        width: 1024px;
    }


    .img-tablet {
        width: 250px;
        border-radius: 0px;
    }


    .trust__publications {
        padding: 30px 60px;
    }
}


@media (max-width: 768px) {


    .logo__container__site {
        margin: 0;
        transform: translateY(25%);
    }


    .logo__container__navigation {
        margin: 0;
        transform: translateX(-23%);


        &__menu__firstLine {
            margin-bottom: 140px;
        }


        &__menu__secondLine {
            display: flex;
            justify-content: flex-start !important;
        }
    }


    .service {
        padding: 60px 60px 0 60px !important;


        &__title__head {
            width: 648px;
        }
    }


    .products {
        padding: 60px 0 0 0 !important;
        justify-content: unset !important;


        &__containers {
            width: 285px !important;
            height: 373px !important;
            padding: 15px;
        }
    }


    .trust__companies__container {
        width: 768px;
    }


    .trust__publications__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        &__container__contacts {
            margin-left: 15px;
        }
    }  
}


@media (max-width: 375px) {


    .logo__container__site {
        transform: translate(-35px, 15px);


        &__name {
            display: flex;
            font-size: $rem-22 !important;


            &__page {
                margin-left: 5px;
            }
        }
        

        &__duty {
            font-size: 7px !important;
            letter-spacing: 2.3px !important;
        }
    }


    .logo__container__navigation__menu {
        display: none;


        &__icon {
            display: block !important;
            transform: translate(220px, 25px) !important;
        }


        &__mobile {
            display: flex !important;
            justify-content: space-between;
            width: 327px;
            height: 35px;
            padding: 15px;
            position: relative;
            bottom: 88px;
            left: -89px;
            background-color: rgba(245, 245, 250, 0.2);
        }
    }


    .service {
        padding: 0 30px !important; 
 
        &__title__head {
            width: 315px;
            font-size: $rem-30 !important;
        }
    }


    .trust__companies__container {
        width: 375px;
    }


    .img-mobile {
        width: 375px;
    }


    .trust__publications__footer {
        display: flex;
        flex-wrap: wrap;


        &__container__contacts {
            width: 282px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        &__container__contacts__end {
            width: 282px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        &__company {
            width: 280px;
            transform: translate(5px, 30px);
        }
    }  
}